[Desktop Entry]
Comment= Crystal Ladder Filter Designer
Exec=wine /opt/Dishal2052/Dishal2052.exe
Icon=xtal.png
Name=Dishal2052
NoDisplay=false
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
