[Desktop Entry]
Name=AVRdudess
GenericName=AVR Programmer
Comment=AVR Programmer
Exec=mono /opt/avrdudess/avrdudess.exe
Icon=avrdudess
Terminal=false
Type=Application
Categories=Tools;
StartupNotify=false
